@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --white: #fff;
    --black: #444;
    --grey: #919393;
    --green: #4caf50;
    --pink: #e91e63;
    --violet: #694caf;
    --csv: #fd6159;
    --sidenav: linear-gradient(87deg,#172b4d 0,#1a174dc7 100%);/*linear-gradient(87deg,#172b4d 0,#1a174d 100%) #e91e7c #d81b61f2*/
    --rec: #20d5de;
    --dashboardbg: #f3f3f3;
    --yellow: linear-gradient(60deg,#ffa726,#fb8c00);
    --vipi: #9c27b0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: var(--dashboardbg);
}

.sidebar{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--sidenav);
    z-index: 100;
}

.sidebar.toggle{
    width: 62px;
}

.sidebar .sidebar-brand{
    padding: 1rem 0 1rem 1.5rem;
    color: var(--white);
    border-bottom: 1px solid rgb(0 0 0 / 26%);
    display: flex;
    align-items: center;
    margin: 0 25px;
}

.sidebar.toggle .sidebar-brand{
    margin: 0 5px;
    text-align: left;
    padding: 1rem 0 1rem 1rem;
}

.sidebar .sidebar-brand i{
    font-size: 20px;
    margin-right: 25px;
}

.sidebar .sidebar-brand h2{
    letter-spacing: 1px;
}

.sidebar .sidebar-menu{
    margin-top: 20px;
}

.sidebar .sidebar-menu ul{
    width: 100%;
}

.sidebar .sidebar-menu ul li{
    max-width: 100%;
    list-style-type: none;    
    margin: 0 20px;
}

.sidebar .sidebar-menu ul li a{
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1rem 0 1rem  1.5rem;
    color: var(--white);
}

.sidebar.toggle .sidebar-menu ul li{
    margin: 0 5px;
}

.sidebar.toggle .sidebar-menu ul li a{
    padding: 1rem 0 1rem  1rem;
}

.sidebar .sidebar-menu ul li a:hover{
    color: var(--dashboardbg);
}

.sidebar .sidebar-menu ul li a.active{
    background: var(--white);
    color: var(--black);
    border-radius: 30px;
}

.sidebar .sidebar-menu ul li a i{
    padding-right: 20px;
    font-size: 20px;
}

.sidebar .sidebar-menu ul li a.active i{
    color: var(--black);
}

.sidebar.toggle .sidebar-menu ul li a span{
    display: none;
}

.main-content{
    margin-left: 250px;
    background: var(--dashboardbg);
}

.main-content.toggle{
    margin-left: 62px;
}

.main-content header{
    background: var(--dashboardbg);
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 100;
}

.main-content header.toggle{
    left: 62px;
    width: calc(100% - 62px);
}

.main-content header h3{
    display: flex;
    align-items: center;
}

.main-content header h3 .nav-bar{
    display: flex;
    flex-direction: column;
    justify-content :center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    transition: .4s;
}

.main-content header h3 .nav-bar:hover{
    background: rgba(0,0,0,.1);
}

.main-content header h3 .nav-bar span{
    padding-right: 10px;
    width: 20px;
    height: 3px;
    background: var(--black);
    display: inline-block;
    margin-bottom: 3px;
}

.main-content header .right-menu ul li{
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main-content header .right-menu ul li h4{
    letter-spacing: 1px;
    margin-right: 15px;
}

.main-content header .right-menu ul li img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.main-content header .right-menu ul li .profile{
    position: absolute;
    top: 58px;
    right: 4px;
    background: var(--white);
    width: 170px;
    padding: 10px 0;
    box-shadow: 0 2px 30px rgba(0,0,0,.2);
    border-radius: 8px;
    user-select: none;
    display: flex;
    flex-direction: column;
    display: none;
}

.main-content header .right-menu ul li .profile.active{
    display: block;
}

.main-content header .right-menu ul li .profile::before{
    position: absolute;
    content: '';
    top: -20px;
    right: 15px;
    border: solid 10px;
    border-color: transparent transparent var(--black)
}

.main-content header .right-menu ul li .profile .profile-list{
    padding: 8px 12px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: var(--black);
}

.main-content header .right-menu ul li .profile .profile-list:hover{
    background: var(--sidenav);
    color: var(--white);
}

.main-content main{
    margin-top: 61px;
    min-height: calc(100vh - 61px);
    padding: 20px 20px 10px;
}

form{
    margin-top: 50px;
    display: flex;
}

form .form{
    background: var(--white);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    padding: 75px 20px 40px;
    margin: 0 10px;
}

form .form .btn{
    text-align: right;
}

form .form .btn input[type="submit"]{
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    background: var(--pink);
    color: var(--white);
}

form .form-1{
    position: relative;
    flex-basis: 60%;
}

form .form-2{
    flex-basis: 40%;
}

form .form-1 .hdr{
    display: flex;
    align-items: center;
    position: absolute;
    top: -30px;
}

form .form-1 .hdr .icon{
    padding: 25px 30px;
    background: var(--pink);
    display: inline-block;
    color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}

form .form-1 .hdr .icon i{
    font-size: 25px;
}

form .form .hdr h4{
    letter-spacing: 1px;
    margin: 30px 10px 0;
}

.form .fields,.form-1 .flx .fields{
    position: relative;
    margin: 0 10px;
}

.form-1 .flx{
    display: flex;
}

.form-1 .flx .fields{
    flex-basis: 100%;
}

.form .fields input,.form-1 .flx .fields input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--grey);
    background: transparent;
    margin-bottom: 30px;
    font-size: 15px;
    letter-spacing: 1px;
}

.form .fields label,.form-1 .flx .fields label{
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    pointer-events: none;
    letter-spacing: 1px;
    color: var(--grey)
}

.form .fields input:focus + label,.form .fields input:valid+ label,
.form-1 .flx .fields input:focus + label,.form-1 .flx .fields input:valid + label{
    top: -25px;
    left: -10px;
    font-size: 15px;
    color: var(--pink);
    font-weight: bold;
}

.form .fields input:focus,.form-2 .fields input:focus{
    border-color: var(--pink);
}

.form-2{
    position: relative;
}

.form-2 .profile-images{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.form-2 .profile-images .pro-img{
    width: 100px;
    height: 100px;
    border: 1px solid var(--grey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grey);
    box-shadow:  0 0 20px rgba(0,0,0,.1);
}

.form-2 .profile-images .pro-img i{
    font-size: 55px;
    color: var(--white);
}

@media(max-width: 1050px){
    form{
        flex-wrap: wrap;
    }
    
    form .form{
        flex-basis: 100%;
        margin-bottom: 200px;
    }

    .form-1 .flx{
        flex-wrap: wrap;
    }
}

@media(max-width: 750px){
    .sidebar{
        width: 62px;
    }

    .sidebar:hover{
        width: 250px;
        z-index: 500;
    }

    .sidebar .sidebar-brand {
        padding: 1rem 0 1rem 1rem;
        margin: 0 5px;
    }

    .sidebar.toggle .sidebar-menu ul li a{
        text-align: left;
    }

    .sidebar .sidebar-menu ul li a span{
        display: none;
    }

    .sidebar:hover .sidebar-menu ul li a span{
        display: inline-block;
    }

    .main-content{
        margin-left: 62px;
    }

    .main-content header{
        left: 62px;
        width: calc(100% - 62px);
    }

    .sidebar .sidebar-menu ul li {
        margin: 0 5px;
    }

    .sidebar .sidebar-menu ul li a{
        padding: 1rem 0 1rem 1rem;
    }
}


@media(max-width: 550px){
    .sidebar{
        left: -100%;
    }

    .sidebar.toggle{
        left: 0;
        width: 250px;
    }

    .sidebar:hover .sidebar-brand {
        margin: 0 25px;
    }

    .sidebar.toggle .sidebar-menu ul li{
        margin: 0 15px;
    }

    .sidebar.toggle .sidebar-menu ul li a span{
        display: inline-block;
    }

    .main-content,.main-content.toggle{
        margin-left: 0;
    }

    .main-content header,.main-content header.toggle{
        left: 0;
        width: 100%;
    }

    .main-content main{
        padding: 20px 10px 10px;
    }
}

@media(max-width: 457px){
    form .form .hdr h4{
        margin: 35px 10px 0;
    }
}
