@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --white: #fff;
    --black: #444;
    --grey: #919393;
    --green: linear-gradient(-45deg, #209077 0%, #1ae28a 100%);
    --pink: #e91e63;
    --violet: #694caf;
    --csv: linear-gradient(87deg,#f5365c 0,#f56036 100%);/*#fd6159*/
    --sidenav: linear-gradient(87deg,#172b4d 0,#1a174dc7 100%);/*linear-gradient(87deg,#172b4d 0,#1a174d 100%) #e91e7c #d81b61f2*/
    --rec: linear-gradient(87deg,#11cdef 0,#1171ef 100%); /*#20d5de;*/
    --dashboardbg: #f3f3f3;
    --yellow: linear-gradient(60deg,#ffa726,#fb8c00);
    --vipi: linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788);/*linear-gradient(-45deg, rgba(147,26,222,0.83) 0%, rgba(28,206,234,0.82) 100%);*//*#9c27b0*/
    --time: linear-gradient(87deg,#2dce89 0,#2dcecc 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.sidebar{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--vipi);
    z-index: 100;
}

.sidebar.toggle{
    width: 62px;
}

.sidebar .sidebar-brand{
    margin: 0 25px;
}

.sidebar .sidebar-brand i{
    font-size: 20px;
    margin-right: 25px;
}

.sidebar .sidebar-brand h2{
    letter-spacing: 1px;
}

.sidebar.toggle .sidebar-brand{
    margin: 0 5px;
    padding: 1rem 0 1rem 1rem;
}

.sidebar .sidebar-brand,.sidebar .name{
    padding: 1rem 0 1rem 1.5rem;
    color: var(--white);
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
}

.sidebar .name{
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
}

.sidebar .name:hover{
    cursor: pointer;
}

.sidebar .name .usr{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .name .usr-icon{
    display: flex;
    align-items: center;
}

.sidebar.toggle .name{
    padding: 1rem 0 1rem .5rem;
    margin: 0 5px;
}

.sidebar .name .usr .usr-icon img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 25px;
}

.sidebar .name .usr .usr-icon span{
    letter-spacing: 1px;
    color: var(--white);
}

.sidebar .name.open .usr i{
    transform: rotate(180deg);
}

.sidebar .name ul{
    width: 100%;
    margin-top: 20px;
    display: none;
}

.sidebar .name.open ul{
    display: block;
}

.sidebar .name ul li{
    list-style: none;
    margin-bottom: 20px;
}

.sidebar .name ul li a{
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
}

.sidebar.toggle .name ul li a{
    justify-content: center;
}

.sidebar .name ul li a span{
    margin-right: 15px;
    font-size: 25px;
}

.sidebar .name ul li a p{
    letter-spacing: 1px;
}

.sidebar.toggle .name ul li a p{
    display: none;
}

.sidebar .sidebar-menu{
    margin-top: 20px;
}

.sidebar .sidebar-menu ul{
    width: 100%;
}

.sidebar .sidebar-menu ul li{
    max-width: 100%;
    list-style-type: none;    
    margin: 0 20px;
}

.sidebar.toggle .sidebar-menu ul li{
    margin: 0 5px;
}

.sidebar .sidebar-menu ul li a{
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1rem 0 1rem  1.5rem;
    color: var(--white);
    display: flex;
}

.sidebar.toggle .sidebar-menu ul li a{
    padding: 1rem 0 1rem  .8rem;
}

.sidebar .sidebar-menu ul li a:hover{
    color: var(--dashboardbg);
}

.sidebar .sidebar-menu ul li a.active{
    background: var(--white);
    color: var(--black);
    border-radius: 30px;
}

.sidebar .sidebar-menu ul li a span{
    padding-right: 20px;
    font-size: 25px;
}

.sidebar .sidebar-menu ul li a.active span{
    color: var(--black);
}

.sidebar.toggle .sidebar-menu ul li a p,.sidebar.toggle .name .usr .usr-icon span{
    display: none;
}

.main-content{
    margin-left: 250px;
    background: var(--dashboardbg);
}

.main-content.toggle{
    margin-left: 62px;
}

.main-content header{
    background: var(--dashboardbg);
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    z-index: 100;
}

.main-content header.toggle{
    left: 62px;
    width: calc(100% - 62px);
}

.main-content header h3{
    display: flex;
    align-items: center;
}

.main-content header h3 .nav-bar{
    display: flex;
    flex-direction: column;
    justify-content :center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    transition: .4s;
}

.main-content header h3 .nav-bar:hover{
    background: rgba(0,0,0,.1);
}

.main-content header h3 .nav-bar span{
    padding-right: 10px;
    width: 20px;
    height: 3px;
    background: var(--black);
    display: inline-block;
    margin-bottom: 3px;
}

.main-content header .right-menu ul li{
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.main-content header .right-menu ul li h4{
    letter-spacing: 1px;
    margin-right: 15px;
}

.main-content header .right-menu ul li img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.main-content header .right-menu ul li .profile{
    position: absolute;
    top: 58px;
    right: 4px;
    background: var(--white);
    width: 190px;
    padding: 10px 0;
    box-shadow: 0 2px 30px rgba(0,0,0,.2);
    border-radius: 8px;
    user-select: none;
    display: flex;
    flex-direction: column;
    display: none;
}

.main-content header .right-menu ul li .profile.active{
    display: block;
}

.main-content header .right-menu ul li .profile::before{
    position: absolute;
    content: '';
    top: -20px;
    right: 15px;
    border: solid 10px;
    border-color: transparent transparent var(--black)
}

.main-content header .right-menu ul li .profile .profile-list{
    padding: 8px 12px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: var(--black);
    display: flex;
    align-items: center;
}

.main-content header .right-menu ul li .profile .profile-list span{
    margin-right: 15px;
}

.main-content header .right-menu ul li .profile .profile-list:hover{
    background: var(--vipi);
    color: var(--white);
}

.main-content main{
    margin-top: 61px;
    min-height: calc(100vh - 61px);
    padding: 20px 20px 10px;
}

.main-content main .wel{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.main-content main .wel img{
    width: 150px;
    height: 100px;
}

.main-content main .wel .wel-cnt{
    letter-spacing: 1px;
}

.main-content main .records{
    display: flex;
    justify-content: space-between;
}

.main-content main .records .recds{
    flex-basis: 33.33%;
    background: var(--white);
    margin: 30px 25px 0;
    padding: 25px 15px 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.main-content main .records .rec-clock .icon{
    background: var(--time);
}

.main-content main .records .rec-clock .clock{
    display: flex;
    margin-top: 20px;
    align-items: baseline;
}

.main-content main .records .rec-clock .clock h2,.main-content main .records .rec-clock .clock span{
    margin-right: 10px;
    letter-spacing: 1px;
}

.main-content main .records .recds .icon{
    padding: 30px 35px;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
    border-radius: 5px;
    position: relative;
    top: -45px;
    transition: .5s;
}

.main-content main .records .recds:hover .icon{
    top: -60px;
}

.main-content main .records .recds .icon-csv{
    background: var(--csv);
}


.main-content main .records .recds .icon-rec{
    background: var(--rec);
}

.main-content main .records .recds .icon i{
    font-size: 35px;
    color: var(--white);
}

.main-content main .records .recds .no{
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: var(--black);
    text-align: right;
    margin-bottom: 0;
}

.main-content main .records .recds p{
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--grey);
    margin-bottom: 7px;
}

.datas{
    display: flex;
    margin-top: 90px;
}

.datas .data{
    background: var(--white);
    box-shadow: 0 0 15px rgb(0,0,0,.1);
    margin: 0 15px;
    position: relative;
}

.datas .data-1{
    flex-basis: 60%;
}

.datas .data-2{
    flex-basis: 40%;
}

.datas .data .hdr{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    letter-spacing: 1px;
}

.datas .data .hdr .hdr-1,.datas .data .hdr .hdr-2{
    display: flex;
}

.datas .data .hdr h4{
    margin-top: 20px;
    margin-left: 15px;
}

.datas .data .hdr .h-d-r .hd{
    padding: 25px 30px;
    border-radius: 5px;
    letter-spacing: 1px;
    color: var(--white);
    position: relative;
    top: -20px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
}

.datas .data .hdr .h-d-r .d1-hd{
    background: var(--vipi);
}

.datas .data .hdr .h-d-r .d2-hd{
    background: var(--yellow);
}

.datas .data .hdr .hd i{
    font-size: 25px;
}

.datas .data .hdr a{
    margin-top: 14px;
}

.datas .data .hdr a button{
    padding: 5px 15px;
    font-size: 15px;
    outline: none;
    border: none;
    background: var(--green);
    color: var(--white);
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
}

.datas .data .hdr a button i{
    margin-left: 5px;
    transition: .3s;
}

.datas .data .hdr a button:hover i{
    transform: translateX(5px);
}

.datas .data table{
    width: 100%;
    border-collapse: collapse;
    letter-spacing: 1px;
    border: 1px solid rgba(0,0,0,.12);
}

.datas .data table tr{
    border: 1px solid rgba(0,0,0,.12);
}

.datas .data table tr th{
    padding: 8px 0;
    color: var(--white);
    background: var(--vipi);
    border: none;
}

.datas .data table tr td{
    text-align: center;
    padding: 8px 0;
}

@media(max-width: 1155px){
    .main-content main .records{
        flex-wrap: wrap;
    }

    .main-content main .records .recds{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .main-content main .records .upld-fle{
        height: 144px;
    }
}

@media(max-width: 1050px){
    .datas{
        flex-wrap: wrap;
    }

    .datas .data{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}

@media(max-width: 750px){
    .sidebar{
        width: 62px;
    }

    .sidebar:hover{
        width: 250px;
        z-index: 500;
    }

    .sidebar .sidebar-brand{
        padding: 1rem 0 1rem 1rem;
        margin: 0 5px;
    }

    .sidebar .sidebar-menu ul li{
        margin: 0 5px;
    }

    .sidebar .sidebar-menu ul li a p{
        display: none;
    }

    .sidebar:hover .sidebar-menu ul li a p{
        display: block;
    }

    .sidebar:hover .sidebar-menu ul li a span{
        display: inline-block;
    }

    .sidebar .name{
        padding: 1rem 0 1rem .5rem;
        margin: 0 5px;
    }

    .sidebar .name .usr .usr-icon span {
        display: none;
    }

    .sidebar:hover .name .usr .usr-icon span {
        display: block;
    }

    .sidebar .name ul li a{
        padding-left: .5rem;    
    }

    .sidebar:hover .name ul li a {
        justify-content: flex-start;
    }

    .sidebar .name ul li a p{
        display: none;
    }

    .sidebar:hover .name ul li a p{
        display: block;
    }

    .main-content{
        margin-left: 62px;
    }

    .main-content header{
        left: 62px;
        width: calc(100% - 62px);
    }

    .sidebar .sidebar-menu ul li {
        margin: 0 5px;
    }

    .sidebar .sidebar-menu ul li a{
        padding: 1rem 0 1rem .8rem;
    }
}

@media(max-width: 550px){
    .sidebar{
        left: -100%;
    }

    .sidebar.toggle{
        left: 0;
        width: 250px;
    }

    .sidebar .sidebar-brand{
        border-color: #172b4d;
    }

    .sidebar:hover .sidebar-brand{
        border-color: var(--grey);
    }

    .sidebar.toggle .sidebar-brand {
        margin: 0 15px;
    }

    .sidebar.toggle .sidebar-menu ul li{
        margin: 0 15px;
    }

    .sidebar.toggle .sidebar-menu ul li a span{
        display: inline-block;
    }

    .sidebar.toggle .sidebar-menu ul li a p{
        display: block;
    }

    .sidebar.toggle .name{
        margin: 0 15px;
    }

    .sidebar.toggle .name .usr .usr-icon span{
        display: block;
    }

    .sidebar.toggle .name ul li a {
        justify-content: flex-start;
    }

    .sidebar.toggle .name ul li a p {
        display: block;
    }

    .main-content,.main-content.toggle{
        margin-left: 0;
    }

    .main-content header,.main-content header.toggle{
        left: 0;
        width: 100%;
    }

    .main-content main{
        padding: 20px 10px 10px;
    }
}